{% extends 'forum/forum_base.html' %}

{% load i18n %}
{% load forum %}
{% load avatar_tags %}

{% block title %} {{ LBFORUM_TITLE }} - {{ LBFORUM_SUB_TITLE }} {% endblock %}

{% block content %}
<div class="block">
<h3 class="block_title">{% trans "Personal Info" %}</h3>
<div class="block_content">

<div style="padding:10px">
  <ul>
    <li class="item1 {% block main_menu_profile_class %}{% endblock %}">
      {% if view_only %}<a href="{% url account_index %}"><span>{% trans "Introduction" %}</span></a>{% endif %}
      {% if not view_only %}<a href="{% url profile_detail user.pk %}"><span>{% trans "Introduction" %}</span></a>{% endif %}
    </li>
    {% if not view_only %}
    <li class="{% block main_menu_avatar_class %}{% endblock %}">
      <a href="{% url avatar_change %}"><span>{% trans "Avatar" %}</span></a>
    </li>
    {% endif %}
    {% if not view_only %}
    <li class="{% block main_menu_sig_class %}{% endblock %}">
      <a href="{% url signature %}"><span>{% trans "Signature" %}</span></a>
    </li>
    {% endif %}
  </ul>


<div class="main-head">
  <h3 class="hn"><span>{% block main_head %}{% endblock %}</span></h3>
</div>

<div class="main-subhead">
  <h3 class="hn"><span>{% block main_subhead %}{% endblock %}</span></h3>
</div>

<div class="main-content main-frm">
  {% block account_main_content %}{% endblock %}
</div>

<div class="crumbs gen-content" id="brd-crumbs-end">
  <p>
    <span class="crumb crumbfirst"><a href="{% url forum_index %}">{{ LBFORUM_TITLE }}</a></span> 
    <span class="crumb crumblast">
      <span> &raquo; </span>
      {% blocktrans %}{{ user }}'s profile{% endblocktrans %}
    </span> 
  </p>
</div>
</div>
</div>
</div>
{% endblock %}


