{% extends "base_site.html" %}
{% load i18n cms_tags menu_tags %}

{% block head %}
<!-- head start -->
<div class="topmenu">
  <div class="left">
    <h1 style="margin:30px 0px"><a id="logo" href="/" target="_self"><b>HZCDC.Labs</b></a></h1>
  </div>
  <div class="right">
    <div id="main_menu">
      <ul>{% show_menu 0 0 %}</ul>
    </div>
  </div>
</div>
<!-- heard ends -->
{% endblock head %}

{% block body %}
<div class="container shadow-box">
  <div class="span-24 last">
    <div><ul id="breadcrumb">{% show_breadcrumb %}</ul></div>
  </div>
</div>

<div style="height:20px"></div>

<div class="container shadow-box">
  <div class="span-24 last">
{% if messages %}
<ul class="messages">
{% for message in messages %}
  <li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

{% spaceless %}
<div class="info">
  <span><a href="{% url wakawaka_index %}">{% trans "Start" %}</a></span>
  <span><a href="{% url wakawaka_revision_list %}">{% trans "Recent revisions" %}</a></span>
  <span><a href="{% url wakawaka_page_list %}">{% trans "All Pages" %}</a></span>
</div>
{% endspaceless %}

{% block content %}
{% endblock content %}
  </div>
</div>
{% endblock body %}

{% block foot %}
<div style="height:60px"></div>
<!-- foot start -->
<div id="footer">
  <div class="det">
  <div class="container">
    copyright <a href="mailto:indexofire@gmail.com">Mark Renton</a>
  </div>
  </div>
</div>
{% endblock foot %}
</body>
</html>
