{% extends "base.html" %}
{% load i18n %}


{% block message %}
<div>
{% if messages %}
  <ul class="messages">
  {% for message in messages %}
    <li>{{ message }}</li>
  {% endfor %}
  </ul>
{% endif %}
</div>
{% endblock message %}


{% block content %}
<div style="padding:10px">
  {% spaceless %}
  <div class="info">
    <span><a href="{% url wiki_index %}">{% trans "Start" %}</a></span> | 
    <span><a href="{% url wiki_revision_list %}">{% trans "Recent revisions" %}</a></span> | 
    <span><a href="{% url wiki_page_list %}">{% trans "All Pages" %}</a></span>
  </div>
  {% endspaceless %}
  
  {% block wiki_content %}{% endblock wiki_content %}
</div>
{% endblock content %}
