/* cms_content category table */
.cms_category {
    border:1px solid #E3E3E3;
    border-spacing:0px 0px;
    border-collapse:separate;
}

.cms_category tr.title {
    background: #F5F5F5 url(/media/cms_content/img/table_title_bg.jpg) repeat-x scroll center bottom;
}

.cms_category tr.row1 {

}
.cms_category tr.row2 {
    background: #E5ECF9;
}
.cms_article_table_list {
    border: 1px solid #E3E3E3;
    border-spacing: 0px 0px;
    border-collapse: separate;
}
.cms_article_table_list tr.title {
    background: #F5F5F5 url(../img/table_title_bg.jpg) repeat-x scroll center bottom;
}
.cms_article_table_list tr.row1 {
    background: #FFFFFF;
}
.cms_article_table_list tr.row2 {
    background: #E5ECF9;
}

/* article body */
.article_title{
    padding: 10px;
    margin: 0px;
}
.article_info {
    background: #EBEBEB;
    padding: 5px 10px;
    border-bottom: 1px dashed #CCC;
    border-top: 1px dashed #CCC;
}
.article_info span {
    color: #888888;
    padding: 2px 5px;
}
.article_info span a{
    color: #5F7CAA;
}
.article_tags {
    padding: 10px;
    border-bottom: 1px dashed #CCC;
}
.article_tags a {
    padding: 1px 4px;
    text-decoration: underline;
}
.article_tags a:hover {
    background: #CECECE;
}
.article_content {
    padding: 10px;
}

/* accordion */
.accordion_title {
    width: 100%;
    float: left;
    _float: none;  /* Float works in all browsers but IE6 */
    background: #F8F8F8;
    cursor: pointer;
    padding: 10px 0px;
}
.accordion_title h3 {
    display: block;
    padding: 0px 10px;
}
.accordion_content {
    width: 100%;
    float: left;
    _float: none; /* Float works in all browsers but IE6 */
    background: #F8F8F8;
    padding: 10px 0px;
}
.accordion_content div.content {
    padding: 10px;
}
.on {
    background: #E8E8E8;
}
.over {
    background: #E8E8E8;
}
.accordion {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    display:inline-block;
}
.read_more a {
    color: #3C3C3C;
    text-decoration: underline;
}
.read_more a:hover{
    background: #3C3C3C;
    color: #E3E3E3;
}

/* comments */
#comments {

}
#comments div.row1,
#comments div.row2 {
    padding: 10px;
    display: block;
    margin: 10px;
    background: #F3F3F3;
    border: 1px dashed #C8C8C8;
    min-height: 72px;
    border-top-left-radius: 5px 5px;
    border-top-right-radius: 5px 5px;
    border-bottom-left-radius: 5px 5px;
    border-bottom-right-radius: 5px 5px;
}

#comments div.commenter {
    float: left;
    padding: 0px;
    width: 68px;
}
#comments div.commenter img {
    border: 2px solid #333;
}
#comments div.comment {
    margin-left: 80px;
    padding: 0px;
}
#comments div.comment span.author {
    font-size: 14px;
    margin-bottom: 15px;
    display: block;
}
#comments div.comment span.author a {
    padding: 4px 0px;
    border-bottom: 1px solid #CECECE;
}
#comment_form form{
    padding: 0px;
    margin: 10px;
}

div.article_items {
    margin-left:20px;
    border: 1px solid #DFE0E1;
    background: #F0F1F2;
    color: #858586;
}
div.article_item {
    margin: 0px 20px 30px 30px;
}
div.article_date {
    background: url(../img/date_bg.png);
    height: 55px;
    margin-left: -57px;
    margin-right: 5px;
    padding-left: 5px;
    width: 46px;
    float: left;
}
span.date_day {
    font-weight: normal;
    margin-top: 10px;
    line-height: 28px;
    font-size: 28px;
    display: block;
    color: #FFF;
    text-align: center;

}
span.date_month {
    font-size: 10px;
    line-height: 10px;
    margin-top: -3px;
    text-transform: uppercase;
    display: block;
    color: #FFF;
    text-align: center;
}
div.article_item h1.article_title {
    font-size: 30px;
    margin: 0px 0px 20px 0px;
    padding: 10px 0px 0px 0px;
}
div.article_item h1.article_title a {
    color: #658FA7;
    text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
}
div.article_item div.article_intro {
    font-size: 13px;
}
div.article_item p.read_more a{
    font-size: 14px;
    color: #658FA7;
    text-decoration: none;
}
div.article_item p.read_more a:hover{
    text-decoration: underline;
    background: #F0F1F2;
}
