.forum * {
    margin:0px; 
    padding:0px;
    outline:none;
}

.forum fieldset, .forum img, .forum cite {
    border: 0;
}

.forum br, .forum hr, .forum .hr, .forum .hidden {
    display: none;
}

.forum table {
    width: 100%;
    table-layout: fixed;
    empty-cells: show;
}

/* Text Setup (Equalise everything before styling)
 -------------------------------------------------------------*/

.forum_page {
    font: 1.0em Verdana, Helvetica, Arial, simsun, 宋体, sans-serif;
}

.forum h1,.forum h2,.forum h3, .forum h4, .forum h5, .forum h6 {
    font-size: 1em;
    font-weight: normal;
}

.forum samp, .forum code, .forum pre, .forum option, .forum optgroup,
.forum input, .forum select, .forum textarea, .forum td, .forum th {
    font-family: Verdana,Helvetica,Arial,sans-serif;
    font-size: 1em;
    font-style: normal;
    font-weight: normal;
}

.forum code, .codebox pre, #forum_debug table .tcl, #forum_debug table .tcr {
    font-family: Consolas, courier, "lucida console", monospace;
}

/* Float Clearing
 -------------------------------------------------------------*/

#forum_main {position: relative}

.forum_page:after,
#forum_main:after,
.forum .gen-content:after,
.forum .ct-box:after,
#forum_index .item_head:after,
#forum_index .main_item:after,
#forum_index ul.item_info:after,
.forum .frm-group:after,
.forum .mf-set:after,
.forum .sf-set:after,
.forum .mf-box:after,
.forum .sf-box:after,
.forum .mf-item:after,
.forum .txt-set:after,
.forum .txt-box:after,
.forum .frm-form label:after,
.forum fieldset:after,
.forum span.fld-input:after,
.forum .posthead:after,
.forum .postbody:after,
.forum .postfoot .post-options:after {
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0.0;
    overflow:hidden;
    visibility: hidden;
    clear: both;
}

/* Hidden items
 -------------------------------------------------------------*/

#forum_stats .hn,
#qjump label,
.forum .post .post-byline span,
.forum .post .posthead .post-link span,
.admin .main_subhead,
.forum .main_item .item_info li span.label,
.forum .main_item .item_info li label,
.forum .main_item .you-posted,
.forum .main_item .item_num,
#forum_index .item_summary .subject-title,
.forum .group-legend,
.forum .group-legend span,
.forum .sf-set legend,
.forum .sf-set legend span,
.forum .main_pagehead .page-info,
.forum p.item_select label,
.forum .mf-extra .mf-field label,
.forum .mf-extra .mf-field .aslabel,
.forum .item_subject .item_nav .pages,
.forum .item_subject .item_nav span,
.forum .post-options a span,
.forum .main_options .hn,
.forum .main_head .hn small,
.forum .entry-title,
.forum .menu-page .main_head,
.forum .admin-page .main_head {
    font-size: 0;
    left: -999em;
    text-indent: -999em;
    position:absolute;
    line-height: 0em;
    visibility: hidden;
}


/*************************************************************
 B - GLOBAL STYLES
 **************************************************************/

/* General Layout
 -------------------------------------------------------------*/

.forum {
    overflow: hidden;
}

#forum_redirect, #forum_maint, #forum_util {
    margin: 50px auto 12px auto;
    width: 60%;
}

.forum_page { /* Confines clearing behaviour within forum wrapper */
    float: left;
    width: 100%;
    position: relative;
}

.forum .main_content, .forum .gen-content {
    border-style: solid;
    border-width: 1px;
}

.forum .gen-content {
    padding: 0 1.5em;
}

#forum_index #forum_about, #forum_index #forum_stats {
    margin-top: 1em;
}

#forum_visit, #forum_qpost {
    margin-bottom: 1em;
}


/* Content Text (Default spacing for paragraphs and lists)
 -------------------------------------------------------------*/

.forum p, .forum .hn {
    padding: 0.5em 0;
}

.forum  ul, .forum ol {
    padding: 0.5em 0 0.5em 2em;
}

.forum ul.spaced {
    padding: 0.25em 0 0.25em 2em;
}

.forum ul.spaced li {
    padding: 0.25em 0;
}


/* Headings
 -------------------------------------------------------------*/

.forum th {
    font-size: 1.084em;
    padding: 0.462em 1.417em;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.forum .main_head {
    border-style: solid;
    border-width: 1px;
    padding: 0 1.417em;
}

.forum .main_head .hn {
    font-size: 1.0em;
    padding: 0.462em 10em 0.426em 0;
}

.forum .main_subhead {
    border-style: solid;
    border-width: 1px;
    position: relative;
    margin-bottom: -1px;
}

.forum .main_subhead .hn {
    font-size: 1.0em;
    padding: 0.462em 1.417em;
    position: relative;
}

.forum .main_pagehead {
    float: right;
    margin: -2.1em 1.5em 0 0;
}

.forum #forum_admin-uresults .main_pagehead {
    margin-top: -5.3em;
}

.forum .main_pagehead .hn {
    padding: 0.5em 0;
}

.forum .content_head {
    border-style: solid none;
    border-width: 1px 0 2px 0;
    margin-top: -1px;
}

.forum .content_head .hn {
    font-size: 1.084em;
    border-style: none none solid none;
    border-width: 1px;
    padding: 0.462em 1.417em;
}

/*************************************************************
 C - COMMON CONTENT TYPES (RE-USABLE FORMATS)
 **************************************************************/

/* Option lists
 -------------------------------------------------------------*/

.forum .options span {
    border-left-style: solid;
    border-left-width: 1px;
    padding: 0 0 0 0.5em;
    margin: 0 0 0 0.25em;
}

.forum .options span.item1 {
    border-left: 0;
    padding-left: 0;
    margin-left: 0;
}

/* Content Containers
 -------------------------------------------------------------*/

.forum .ct-box {
    border-style: solid;
    border-width: 1px;
    margin: 1.417em;
    padding: 0 1em;
    position: relative;
}

.forum .ct-set {
    border-style: solid;
    border-width: 1px;
    margin: 1.417em;
    padding: 0 0 0 18em;
    position: relative;
}

.forum .ct-group {
    border-style: solid;
    border-width: 1px;
    margin: 1.417em;
}

.forum .ct-group .ct-set, .frm-group .ct-set {
    border-style: dashed none none none;
    margin: 0;
}

.forum .ct-group .ct-box, .forum .frm-group .ct-box {
    border-style: none;
    margin: 0;
}

.forum .ct-group .ct-set .ct-box, .forum .ct-set .ct-box,
.forum .frm-group .ct-set .ct-box {
    border-style: none none none dashed;
    margin: 0;
}


.forum .ct-group .group-item1 {
    border-top: 0;
}

.forum .ct-group .set1 {
    border-top: 0;
}

.forum .ct-set .ct-legend {
    float: left;
    margin-left: -18em;
    width: 15.5em;
    display: inline;
    position: relative;
}

.forum .ct-set ul {
    padding-left: 0;
    list-style: none;
}

.forum .ct-box div {
    padding: 0.5em 0;
}

.forum .user-box {
    border-style: solid;
    border-width: 1px;
    margin: 1.417em;
    padding: 0.5em 1em;
}

#forum_announcement .user-box {
    border: 0;
    margin: 0;
    padding: 0;
}


/* User Identity
 -------------------------------------------------------------*/

.forum .user-ident {
    padding-left: 0;
    list-style: none;
}

.forum .user-ident .username a,
.forum .user-ident .username strong {
    font-size: 1.167em;
    font-weight: bold;
}

.forum .user-ident .username a,
.forum .user-ident .username a:link,
.forum .user-ident .username a:visited {
    text-decoration: none;
}

.forum .user-ident .username a:hover,
.forum .user-ident .username a:active,
.forum .user-ident .username a:focus {
    text-decoration: underline;
}

.forum .user-ident .usertitle {
    font-weight: bold;
}

.forum .user-ident .useravatar {
    padding: 0.25em 0;
}

.forum .user-ident .useravatar img {
    display: block;
}

/* Message Boxes
 -------------------------------------------------------------*/

.forum .main_message {
    padding: 0.5em 1.417em;
}

.forum .main_message p span {
    display: block;
    padding-top: 0.5em;
}

/* Section Menus (By Default - Profile and Admin)
 -------------------------------------------------------------*/

.forum .main_menu, .forum .admin-menu {
    border: 0;
    padding: 0.4em 0 0.4em 0.75em;
}

.forum .main_menu ul, .forum .admin-menu ul {
    list-style-type: none;
    float: left;
    padding: 0;
}

.forum .main_menu li, .forum .admin-menu li {
    font-size: 1.084em;
    float: left;
    display: inline;
    border-style: none solid;
    border-width: 0 1px 0 2px;
}

#forum_wrap .main_menu a, #forum_wrap .admin-menu a {
    float: left;
    position: relative;
    padding: 0.2em 0.75em 0.4em 0.75em;
}

.forum .main_menu li.item1, .forum .admin-menu li.item1 {
    border-left: 0;
}

.forum .admin-submenu ul {
    padding: 0.5em 0;
    list-style: none;
}

.forum .admin-submenu li {
    display: inline;
    margin-right: 0.75em;
}


/*************************************************************
 D - COMMON INTERFACE ELEMENTS
 **************************************************************/

/* Logo and Tagline
 -------------------------------------------------------------*/

#forum_head {
    padding-bottom: 0.75em;
    padding-top: 1em;
    position: relative;
}

#forum_title {
    padding-bottom: 0;
}

#forum_title a, #forum_title strong {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: normal;
}

#forum_desc {
    font-size: 1.084em;
    padding-top: 0;
    padding-bottom: 0;
}

/* Primary navigation
 -------------------------------------------------------------*/

#forum_navlinks ul {
    margin: 0;
    padding: 0.5em 0;
    float: left;
}

#forum_navlinks li {
    display: inline;
    margin-right: 1em;
}

#forum_navlinks li a {
    font-size: 1.167em;
    text-decoration: none;
}

#forum_admod {
    float: right;
    text-align: right;
}

#forum_admod span {
    margin-left: 0.75em;
}

#forum_access {
    text-align: right;
    padding: 0;
    margin: -1em -1.5em 0 0;
    background: transparent;
    width: 15em;
    position: relative;
    float: right;
}

#forum_access a, #forum_access a:link, #forum_access a:visited {
    height: 2em;
    display: block;
    padding: 0 1.5em;
    line-height: 2em;
    position: absolute;
    left: -999em;
    text-index: -999em;
    width: 12em;
}

#forum_access a:hover, #forum_access a:active, #forum_access a:focus {
    text-indent: 0;
    position: static;
}


/* Welcome box
 -------------------------------------------------------------*/

#forum_visit #welcome {
    float: left;
}

#forum_visit #visit-links {
    text-align: right;
    float: right;
}

/* Paging and posting
 -------------------------------------------------------------*/

#forum_pagepost-end {
    border-top: none;
}

#forum_pagepost-top {
    border-bottom: none;
}

.forum .paging {
    float: left;
}

.forum .posting {
    text-align: right;
    float: right;
}

.forum .paging, .forum .paging * {
    white-space:nowrap;
}

.forum .paging a, .forum .paging strong, .forum .paging span {
    padding: 0 1em;
    border-left-style: solid;
    border-left-width: 1px;
    float: left;
}

.forum .paging .item1, .forum .paging span.pages {
    border-left: 0;
    padding-left: 0;
}

.forum .posting .newpost {
    font-size: 1.084em;
    font-weight: bold;
}

/* Breadcrumbs
 -------------------------------------------------------------*/

.forum .crumbs .crumblast {
    font-weight: bold;
}

.forum .crumbs span, .forum crumbs span * {
    white-space: nowrap;
}

.forum .crumbs {
    padding: 0.5em 1.5em;
}

/* Statistics
 -------------------------------------------------------------*/

#forum_stats {
    border-bottom: 0;
}

#forum_stats ul {
    list-style: none;
    padding-left: 0;
}

#forum_stats ul li.st-users {
    float: left;
    clear: both;
    white-space: nowrap;
}

#forum_stats ul li.st-activity {
    text-align: right;
    display: block;
    white-space: nowrap;
}

#forum_stats li strong {
    font-weight: bold;
}

#forum_online {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#forum_online .hn, #forum_online p {
    padding-bottom: 0;
    padding-top: 0;
}

#forum_online .hn {
    float: left;
    margin-right: 0.5em;
}

/* Footer
 -------------------------------------------------------------*/

#qjump {
    float: left;
    padding: 0.5em 0;
}

#qjump div, #qjump label {
    padding: 0;
    border: none;
}

#copyright {
    text-align: right;
    float: right;
}

#querytime {
    text-align: center;
    font-size: 0.9em;
}

/* Main and Content Options
 -------------------------------------------------------------*/

.forum .main_options {
    border-top: none;
}

.forum .main_options .options, .forum .main_modoptions .options {
    text-align: center;
}

.forum .main_options span.feed {
    padding-left: 20px;
    padding-top: 2px;
}

.forum .content_options, .forum .ct-options {
    float: right;
    margin-top: -2.7em;
    padding: 0.5em 1.417em;
    position: relative;
}

.forum #select-all {
    float: right;
}

/*************************************************************
 E - INDEX, FORUMS, SEARCH RESULTS, MODERATE FORUMS
 **************************************************************/

/* Header setup generally
 -------------------------------------------------------------*/

.forum .item_summary {
    height: 2.5em;
    padding: 0;
    position: relative;
    font-size: 1em;
}

.forum .item_summary span {
    width: 100%;
    position: absolute;
    left: -999em;
    text-indent: -999em;
    display: block;
}

.forum .item_summary strong {
    position: absolute;
    left: 999em;
    text-indent: 0;
    padding: 0.5em 0;
    white-space: nowrap;
    font-weight: normal;
    text-transform: capitalize;
}

#forum_wrap .item_summary .subject-title {
    padding-left: 1.417em;
}

#forum_wrap .item_summary .info-topics,
#forum_wrap .item_summary .info-replies {
    margin-left: 100%;
    text-align: center;
    width: 7em;
    left: 965em;
}

#forum_wrap .item_summary .info-posts,
#forum_wrap .item_summary .info-views {
    margin-left: 100%;
    text-align: center;
    width: 7em;
    left: 972em;
}

#forum_wrap .item_summary .info-lastpost {
    margin-left: 100%;
    left: 980em;
}

#forum_index .item_summary {
    margin-top: -2.5em;
}

#forum_wrap p.forum_noview .info-replies {
    left: 972em;
}

/* Content setup generally
 -------------------------------------------------------------*/

.forum .main_content .main_item {
    border-top-style: solid;
    border-top-width: 1px;
    overflow: hidden;
    position: relative;
    line-height: 1.4em;
}

.forum .main_content .main_item1 {
    border-top: none;
}

.forum .main_content .main_item ul {
    float: right;
    position: relative;
    padding: 0;
    list-style: none;
}

.forum .main_content .main_item p,
.forum .main_content .main_item .hn {
    padding: 0;
}

.forum .main_content .main_item .hn .item_status {
    font-weight:normal;
}

.forum .main_content .main_item .hn .item_status em {
    font-style:normal;
}

.forum .main_content .main_item .item_subject,
.forum .main_content .main_item li {
    float: left;
    border-left-style: solid;
    border-left-width: 1px;
    padding-bottom: 10em;
    margin: 0 -2px -9.7em 0;
    position: relative;
}

.forum .main_content .main_item .item_subject {
    padding-top: 0.4em;
    overflow: hidden;
    width: 100%;
}

.forum .main_content .main_item li.info-topics,
.forum .main_content .main_item li.info-posts,
.forum .main_content .main_item li.info-views,
.forum .main_content .main_item li.info-replies {
    width: 7em;
    text-align:center;
    padding-top: 1em;
}

.forum .main_content .main_item li.info-lastpost {
    padding-top: 0.4em;
    width: 20em;
}

.forum .main_content .main_item li.info-lastpost cite {
    overflow: hidden;
    width: 18em;
}

.forum .main_item li strong {
    font-weight: normal;
}

.forum .main_content .redirect li.info-lastpost {
    padding-top: 1em;
}

/* Setup for Index and Forums
 -------------------------------------------------------------*/

.forum .main_content .main_item {
    padding-right: 35em;
    padding-left: 3.75em;
}

.forum .main_content .main_item .hn {
    position: relative;
}

.forum .main_content .main_item ul {
    width: 34em;
    right: -35em;
    margin-left: -34em;
}

.forum .forum_noview .main_item {
    padding-right: 28em;
}

.forum .forum_noview .main_item ul {
    width: 27em;
    right: -28em;
    margin-left: -27em;
}

.forum .main_content .main_item .item_subject span.modlist {
    display: block;
}

.forum .main_content .main_item .hn strong {
    font-size: 1em;
}

.forum .main_content .main_item .hn strong span {
    font-weight: normal;
}

#forum_index .main_content .main_item .hn span {
    font-size: 1.084em;
    font-weight: bold;
}
#forum_index .main_content .main_item .hn small {
    font-size: 1em;
}

.forum .main_content .main_item .item_status {
    font-weight: bold;
}

.forum .main_content .main_item cite {
    font-style: normal;
}

.forum .main_content .main_item span.item_nav,
.forum .main_content .main_item span.item_nav * {
    white-space: nowrap;
    font-style: normal;
}

.forum .main_content .main_item .item_subject .hn,
.forum .main_content .main_item .item_subject p {
    margin: 0 1em 0 1.5em;
}

.forum .main_content .main_item li.info-lastpost strong,
.forum .main_content .main_item li.info-lastpost cite,
.forum .main_content .main_item li.info-lastpost span {
    display: block;
    padding: 0 1em;
    font-style: normal;
    font-weight: normal;
}

.forum .main_content .main_item li.info-select {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.3em;
    border-style: none none solid solid;
    border-width: 1px;
}

.forum .main_content .main_item .icon {
    border-style: solid;
    border-width: 0.5833em;
    height: 0;
    width: 0;
    float: left;
    margin-top: 0.667em;
    margin-left: -2.417em;
}

.forum .main_content .main_item .hn .posted-mark {
    position: absolute;
    font-size: 2em;
    width: auto;
    left: -0.5em;
    top: 0;
}

/*************************************************************
 F - MAIN CONTENT - FORMS
 **************************************************************/

/*************************************************************
 F - MAIN CONTENT - FORMS
 **************************************************************/

/* Generally
 -------------------------------------------------------------*/

.forum .frm-group {
    border-style: solid;
    border-width: 1px;
    margin: 1.417em;
}

.forum .frm-group .set1 {
    border-top: 0;
}

.forum .frm-group .set1 {
    border-top: 0;
}

.forum .sf-box, .forum .mf-box, .forum .txt-box {
    border-style: solid;
    border-width: 1px;
    margin: 1.417em;
    padding: 0.5em 0.5em 0.5em 0;
    position: relative;
}

.forum .sf-set, .forum .mf-set, .forum .txt-set {
    border-style: solid;
    border-width: 1px;
    margin: 1.417em;
    padding: 0 0 0 18em;
    position: relative;
}

.forum .sf-set .sf-box, .forum .mf-set .mf-box, .forum .txt-set .txt-box {
    border-style: none none none dashed;
    margin: 0;
}

.forum .frm-group .sf-set, .forum .frm-group .mf-set, .forum .frm-group .txt-set {
    border-style: dashed none none none;
    margin: 0;
}

.forum .text input, .forum .select select {
    font-size: 1.084em;
}

.forum .frm-buttons {
    padding: 0 0 0 18em;
    margin: 0.75em 1.417em 1em 1.417em;
    position: relative;
}

.forum .frm-buttons span.submit {
    margin-right: 0.75em;
}

.forum span.submit input, .forum span.cancel input {
    overflow: visible;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 1.084em;
}

.forum .button-set {
    border-top: 0;
}

.forum .button-set span.submit {
    padding-left: 1em;
}

/* Single Field Items (Text, Select, Checkbox)
 -------------------------------------------------------------*/

.forum .sf-box label, .forum .sf-box .aslabel {
    float: left;
    padding: 0;
}

.forum .sf-set .checkbox label {
    padding: 2px 0 2px 3em;
}

.forum .sf-set .text label span, .forum .sf-set .select label span, .forum .sf-set .aslabel span {
    float: left;
    margin-left: -18em;
    display: inline;
    position: relative;
    padding: 2px 1em 2px 1em;
    width: 16em;
}

.forum .sf-set .checkbox label span {
    float: left;
    margin-left: -18em;
    display: inline;
    position: relative;
    padding: 0 1em;
    width: 16em;
    left: -3em;
}

.forum .sf-set .text label small, .forum .sf-set .select label small {
    display: block;
    text-align: left;
    position: relative;
    margin: 2em 1em 0 1em;
    font-size: 0.917em;
}

.forum .sf-set .fld-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 0.5em 1em;
}

.forum .sf-set .checkbox input {
    margin: 2px 0 2px -0.25em;
    height: 1.55em;
    width: 1.55em;
}

.forum .sf-set .text input:not([title]) { /* Fixes alignment issue in Safari */
    height: 100%;
}

.forum .sf-set .sf-short input {
    width: 4em;
}

.forum .sf-set .sf-short label small {
    font-size: 1em;
    padding: 2px 0;
    margin: 0 1em 0 5.5em;
}


/* Multi-Field Items (Radio/Checkbox Groups)
 -------------------------------------------------------------*/

.forum .mf-box .mf-item {
    position: relative;
    padding: 0.25em 0;
}

.forum .mf-set legend {
    position: absolute;
    height: 0;
    background: transparent;
}

.forum .mf-set legend span {
    position: absolute;
    left: -18em;
    width: 16em;
    padding: 0.75em 1em;
    margin: 0px 0px 0px 40px;
    overflow: hidden;
}

.forum .mf-set legend span em {
    display: block;
    white-space: normal;
    font-style: normal;
    font-size: 0.917em;
}

.forum .mf-item .fld-input {
    position: absolute;
    top: 0.25em;
    left: 0;
    display: block;
    padding: 0 1em;
}

.forum .mf-item input {
    margin: 0 0 0 -0.25em;
    height: 1.55em;
    width: 1.55em;
}

.forum .mf-item label {
    padding: 0 0 0 3em;
    float: left;
}

.forum .mf-set .mf-yesno .mf-item {
    width: 10em;
    float: left;
}

.forum .mf-set .mf-field {
    float: left;
    padding: 0 1em 0 1em;
    border-left: 1px solid #ccc;
}

.forum .mf-set .mf-field1 {
    border-left: none;
}

.forum .mf-set .mf-field label, .mf-set .mf-field .aslabel {
    position: absolute;
    top: -2em;
    display: block;
}

.forum .mf-set .mf-cell .fld-input {
    position: static;
    padding: 0 0 0 1em;
    border-left: 1px solid #ccc;
}

#forum_wrap .frm-hdgroup {
    padding-top: 2em;
}

.forum .frm-hdgroup .set1 {
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #DBE0E4;
}

.forum .sf-set .sf-box .sf-forum {
    width: 25em;
}

.forum .mf-set .mf-box .forum_field {
    width: 25em;
}

/* Multi Checkbox Widget
 -------------------------------------------------------------*/

#forum_wrap .checklist {
    min-height: 6em;
    max-height: 9em;
    max-width: 30em;
    overflow: auto;
    border-style: solid;
    border-width: 1px;
    position: relative;
    padding: 0.25em 0.5em;
    margin: 0 1em;
}

#forum_wrap .checklist fieldset {
    height: auto;
}

#forum_wrap .checklist legend,
#forum_wrap .checklist legend span {
    font-weight: bold;
    position: static;
    padding: 0;
    height: auto;
}

#forum_wrap .checklist .checklist-item {
    position: relative;
    height: auto;
}

#forum_wrap .checklist .checklist-item label {
    display: block;
    padding: 0 0 0 2.25em;
    float: none;
    height: 100%;
    background-color: #fff;
}

#forum_wrap .checklist .checklist-item .fld-input {
    position: absolute;
    left: 0;
    top: 0;
    padding: 0;
    margin: 0;
}

#forum_wrap .checklist .checklist-item input {
    margin: 0;
    height: 1.55em;
    width: 1.55em;
}

#forum_wrap .checklist .checklist-item label:hover {
    background: #F2F5F8;
}


/* Single Field Textareas and Long Inputs (Flexi Width)
 -------------------------------------------------------------*/

.forum .txt-box label {
    float: left;
}

.forum .txt-set label span {
    float: left;
    margin-left: -18em;
    display: inline;
    position: relative;
    padding: 2px 1em;
    width: 16em;
    height: 1em;
}

.forum .txt-set label small {
    display: block;
    text-align: left;
    position: relative;
    margin: 0 1em 0 0;
    padding: 2px 1em;
    font-size: 0.917em;
    z-index: 100;
}

.forum .txt-set .txt-input {
    position: relative;
    width: 100%;
}

.forum .txt-set .fld-input {
    display: block;
    padding: 0 0 0 1em;
}

.forum .text .fld-input input {
    width: 100%;
}

.forum .txt-set textarea {
    width: 95%;
}

/* Error handling
 -------------------------------------------------------------*/

.forum .req-warn {
    display: none;
}

.forum #req-msg p em, .forum .required label span em {
    font-style: normal;
    font-weight: normal;
}

.forum .required label span em {
    float: left;
    font-size: 0.917em;
    line-height: 1.2em;
    width: 16em;
    position: relative;
}

.forum .req-error {
    display: block;
}

.forum .required label span  {
    font-weight: bold;
}

/*************************************************************
 G - MAIN CONTENT - TOPICS AND PARSED CONTENT
 **************************************************************/

/* Structure
 -------------------------------------------------------------*/

.forum .post {
    border-style: solid;
    border-width: 1px;
    position: relative;
    margin: 1.417em;
    margin-top: -1.417em;
}

.forum .firstpost, .forum .singlepost {
    margin-top: 1.417em;
}

.forum .main_topic .lastpost {
    border-bottom: 0;
}

.forum .main_topic .post {
    border-style: solid none;
    margin: 0;
}

.forum  .main_topic .firstpost {
    border-top: none;
}

.forum .posthead {
    margin-left: 18em;
    border-style: none none none solid;
    border-width: 1px;
}

.forum .posthead .hn {
    padding-right: 1.5em;
    padding-left: 1em;
    border-style: none none dashed none;
    border-width: 1px;
}

.forum .post .posthead .post-byline a,
.forum .post .posthead .post-byline strong {
    font-size: 1.167em;
    font-weight: bold;
    text-decoration: none;
    font-style: normal;
}

.forum .post .posthead .post-byline {
    float: left;
    width: 15.5em;
    padding: 0.5em 1em 0.5em 1.5em;
    margin-left: -19em;
    margin-top: -0.5em;
    position: relative;
    left: -1px;
    overflow: hidden;
}

.forum .posthead .post-num {
    float:right;
    font-weight: bold;
}

#forum_modtopic .posthead .hn {
    padding-right: 2.7em;
}

.forum .posthead .post-title {
    padding: 0 1.5em 0.5em 1em;
    margin-top: -1px;
    position: relative;
    font-family: arial, helvetica, sans-serif;
}

.forum .posthead .post-title span {
    display: block;
    width: 100%;
    overflow: hidden
}

.forum .posthead .post-title a {
    font-size: 1.167em;
    text-decoration: none;
    font-weight: bold;
}

.forum .posthead .post-title small,
.forum .posthead .post-title small a {
    font-size: 1em;
    font-weight:normal;
    white-space: nowrap;
}

.forum .posthead p.item_select {
    position: absolute;
    top: 0;
    right: 0.75em;
    height: 2.5em;
}

.forum .postbody {
    margin-left: 18em;
    position: relative;
    border-left-style: solid;
    border-left-width: 1px;
    padding: 0.5em 1.5em 0 1em;
    clear: both;
}

.forum .postfoot {
    padding-left: 18em;
    border-top-style: dashed;
    border-top-width: 1px;
    position: relative;
}

.forum .postfoot .post-options {
    border-left-style: solid;
    border-left-width: 1px;
}

.forum .postbody .post-author {
    float: left;
    width: 15.5em;
    margin-left: -19em;
    left: -1px;
    position: relative;
    display: inline;
    padding: 0 1em 0.5em 1.5em;
    overflow: hidden;
    margin-top: -1em;
}


.forum .postbody .post-author ul {
    margin: 0;
    padding: 0 0 0.5em 0;
    list-style: none;
}

.forum .post .author-ident .useravatar img {
    display: block;
    padding: 0.5em 0;
}

.forum .post .author-ident .username {
    display: none;
}

.forum .postbody .author-ident .usertitle {
    font-weight: bold;
    line-height: normal;
}

.forum .postbody .author-ident .userstatus {
    padding: 0.75em 0 0.25em 0;
    margin: 0;
    line-height: 0.75em;
    width: 100%;
}

.forum .postbody .author-ident .userstatus span {
    font-size: 0.917em;
    display: block;
    border-left-style: solid;
    border-left-width: 0.7em;
    text-indent: 0.5em;
}

.forum .online .author-ident .userstatus span {
    font-weight: bold;
}

.forum .postfoot .post-contacts {
    float: left;
    margin-left: -18em;
    width: 15.5em;
    padding: 0.5em 1em 0.5em 1.5em;
    position: relative;
    display: inline;
    left: -1px;
}

.forum .postfoot .post-actions {
    padding: 0.5em 1.5em 0.5em 1em;
    text-align: right;
    display: block;
    float: right;
}

.forum .postfoot .post-actions span {
    margin-left: 0.75em;
}

.forum .postfoot .post-contacts span {
    margin-right: 0.75em;
}

/* Content
 -------------------------------------------------------------*/

#forum_wrap .entry-content {
    padding-bottom: 1em;
    overflow: hidden;
    width: 100%;
    font-size: 1.084em;
}

#forum_wrap .entry-content ol {
    padding-left: 2.5em;
    list-style-type: decimal;
}

#forum_wrap .entry-content ol p,
#forum_wrap .entry-content ul p {
    padding: 0;
}

#forum_wrap .entry-content ol.alpha {
    list-style-type: upper-alpha;
}

#forum_wrap .entry-content h5, #forum_wrap .entry-content h5 * {
    font-weight: bold;
    font-size: 1.084em;
    padding: 0.5em 0;
}

#forum_wrap .entry-content img {
    vertical-align: text-top;
}

#forum_wrap .entry-content .quotebox,
#forum_wrap .entry-content .codebox {
    border-style: solid;
    border-width: 1px;
    margin: 0.75em 1em;
    padding: 1em 0.75em;
}

#forum_wrap .entry-content blockquote {
    overflow: hidden;
    width: 100%;
}

#forum_wrap .entry-content .quotebox cite {
    display: block;
    font-style: normal;
    font-weight: bold;
}

#forum_wrap .entry-content pre {
    margin: 0;
    max-height: 35em;
    min-height: 2em;
    overflow: auto;
    padding: 0 2% 0.1em 0;
    width: 98%;
}

#forum_wrap .entry-content img {
    max-width: 100%;
}

#forum_wrap .entry-content span.bbu {
    text-decoration: underline;
}

#forum_wrap .entry-content br,
#forum_wrap .sig-demo br,
#forum_wrap .user-box br,
#forum_wrap .main_message br,
#forum_wrap .warn-box br,
#forum_wrap .data-box br,
#forum_announcement br {
    display: inline;
}

.forum .sig-content, .forum .entry-attachments {
    padding-top: 1em;
}

.forum span.sig-line {
    display: block;
    width: 200px;
    border-top-style: solid;
    border-top-width: 1px;
    padding-bottom: 0.5em;
}


/*************************************************************
 H - MAIN TABLES
 **************************************************************/

/* Table Cells Widths and Alignment
 -------------------------------------------------------------*/

.forum table {
    width: 100%;
    table-layout: fixed;
    empty-cells: show;
    border-spacing: 0;
    line-height: 1.3333em;
}

.forum td {
    overflow: hidden;
    vertical-align: middle;
}

#forum_userlist table .tc0 {
    width: 30%
}

#forum_userlist table .tc1 {
    width: 20%;
    text-align: left;
}

#forum_userlist table .tc2 {
    width: 10%;
    text-align: center;
}

#forum_debug table .tcl {
    white-space:normal;
    width: 10%;
}

#forum_debug table .tcr {
    white-space: normal;
    width: 90%;
}

#forum_admin-uresults table .tc0,
#forum_admin-iresults table .tc0 {
    width: 45%;
}

#forum_admin-uresults table .tc1,
#forum_admin-iresults table .tc1,
#forum_admin-iresults table .tc2 {
    width: 20%;
}

#forum_admin-uresults table .tc2,
#forum_admin-uresults table .tc4 {
    width: 10%;
    text-align: center;
}

#forum_admin-uresults .tc3 {
    width: 15%;
}

#forum_admin-uresults td.tc0 span,
#forum_admin-uresults td.tc3 span {
    display: block;
    white-space: nowrap;
}

#forum_admin-uresults td.tc0 a,
#forum_admin-uresults td.tc3 a {
    font-weight: bold;
}

#forum_admin-iresults table .tc0 {
    width: 25%;
}

#forum_admin-iresults table .tc1 {
    width: 25%;
}

#forum_admin-iresults table .tc2 {
    width: 20%;
}

#forum_admin-iresults .tc3 {
    width: 30%;
}


/* Table Cell Styling
 -------------------------------------------------------------*/

.forum .main_content th {
    font-size: 1.084em;
    padding: 0.462em 1.417em;
    font-weight: normal;
}

.forum table td {
    padding: 0.5em 1.417em;
    border-width: 1px;
    border-style: solid none none solid;
}

.forum table td.tc0 {
    border-left-style: none;
    border-left-width: 0
}

.forum table th {
    padding: 0.5em 1.3em;
    border-style: none;
}

.forum table td.actions, .forum table th.actions {
    text-align: right;
}

.forum table td.actions span {
    display: block;
}


/*************************************************************
 H - MAIN CONTENT - ODDMENTS
 **************************************************************/

/* Reports
 -------------------------------------------------------------*/

.forum .report {
    margin-left: 4em;
}

.forum .report h3 span {
    display: block;
    font-style: normal;
}

.forum .report h3 cite {
    font-style: normal;
    font-size: 1.084em;
    font-weight: bold;
}

.forum .report h3 strong {
    position: absolute;
    left: -3.1em;
    width: 1.5em;
    text-align: right;
    font-size: 1.167em;
}

.forum .report p strong {
    display: block;
    font-weight: normal;
}

.forum .report h4 {
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

#forum_admin-reports .frm-buttons {
    margin-left: 3.5em;
    margin-top: 0;
}

.forum .report .item_select {
    position: absolute;
    top: 0;
    right: 0.75em;
    height: 2.5em;
}

/* Help File
 -------------------------------------------------------------*/

.forum .help-box samp {
    display: block;
    margin-left: 1.5em;
}

.forum .help-box h5 samp {
    margin-left: 1.417em;
}

.forum .help-box code {
    font-family: courier;
    font-size: 1.084em;
}

.forum .help-box .entry-content {
    padding: 0;
}

.forum .help-box .hn {
    padding-bottom: 0.5em;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
    margin-bottom: 0.5em;
    color: #294F6E
}

/* Announcement box
 -------------------------------------------------------------*/

#forum_announcement {
    font-size: 1.1em;
    margin: 10px 0 10px 0;
    padding: 10px 14px;
}

#forum_announcement .msg-head {
    font-weight: bold;
    padding-bottom: 0.5em;
}
/* by vicalloy
 -------------------------------------------------------------*/
.forum .pagination {
    padding:0.5em 0;
    float: left;
}

.forum .pagination, .forum .pagination * {
    white-space:nowrap;
}

.forum .pagination a, .forum .pagination strong, .forum .pagination span {
    padding: 0 1em;
    border-left-style: solid;
    border-left-width: 1px;
    float: left;
}

.forum .pagination .prev {
    border-left: 0;
    padding-left: 0;
    border-left-width: 0;
}

.forum .pagination .current {
    font-weight: bold;
}

.forum .mceEditor table td {
    border-left-style: none;
    padding: 0;
    border-width:1px;
}

.forum .txt-set .markItUpEditor{
    width:643px;
}

#forum_navlinks #forum_navlinks-left {
    float: left;
}

#forum_navlinks #forum_navlinks-right {
    float: right;
}

#forum_friend-links {
    margin-top: 1.1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

#forum_friend-links a {
    margin-left: 1.1em;
}
.forum #uploaded_files .icon{
    cursor: pointer;
    padding-left:20px;
}
.forum #uploaded_files .fld-descn {
    width:200px
}
.forum #uploaded_files .ajax-loader {
    padding-left:20px;
}
.forum #upload_button {
	margin-left: 10px;
	width: 120px;
}
