/* ------------------
 * Django-CMS Style
 * ------------------
 * Theme: Planet v0.1
 * ------------------
 * Author: Mark Renton <indexofire@gmail.com>
 * ------------------------------------------
 */

body {
    background: #D0DADF url(../img/main_bg.png) no-repeat 100% 92px;
    font-family:"Helvetica Neue", Arial, Helvetica, 雅黑, simsun, sans-serif;
}

/* reset text-align in IE6 */
h1,h2,h3,h4,h5,h6,p,a {
    text-align: left;
}
a {
    text-decoration: none;
    color: #222;
}
a:hover {
    text-decoration: underline;
}

/* Breadcrumb Settings */
#breadcrumb {
    float: left;
    list-style-type: none;
    margin-left: -5px;
    padding: 0px;
}
#breadcrumb li {
    float: left;
    padding: 0px;
    margin: 0px;
    height: 32px;
}
#breadcrumb li a {
    color: #5F7CAA;
    background: url(../img/arrow.png) no-repeat 100% 50%;
}
#breadcrumb li a,
#breadcrumb li span {
    float: left;
    margin: 0px;
    padding: 0px 15px 0px 5px;
    line-height: 32px;
}

/* Page Footer Settings */
#footer {
    background: #FFF;
    margin-top: 50px;
    border-top: 1px solid #CCC;
}
#footer .con {
    padding: 20px 10px;
}

/* page's top */
#top {
    border-bottom: 1px solid #FFF;
    background: #333;
    height: 40px;
    line-height: 40px;
    padding: 10px 20px;
    overflow: hidden;
}
#top a {
    color: #FFF;
}
#site_name {
    font-size:32px;
    font-weight: bold;
    text-align: bottom;
}
#site_name a {
    padding: 4px 0px 4px 40px;
    background: url(../img/logo.png) no-repeat 0px 6px;
    text-shadow: rgba(0, 0, 0, 0.6) 2px 2px 1px;
    text-decoration: none;
}
#top ul {
    height: 20px;
    line-height: 20px;
    padding: 10px 0px;
    margin: 0px -5px 0px 0px;
    list-style: none;
    float: right;
}

#top ul li {
    float: left;
    font-size: 1.3em;
    font-weight: bold;
}

#top ul li a {
    display: block;
    margin: 0px 5px;
    padding: 4px 5px;
    border-radius: 8px 8px;
    -moz-border-radius: 8px 8px;
}

#top ul li a.selected,
#top ul li a.ancestor,
#top ul li a:hover {
    background-color: #FEFEFE;
    color: #222;
    text-decoration: none;
}

/* Main */
#main {
    min-height: 680px;
}

#login_div div label {
    width: 60px;
    display: inline-block;
}

#login_div div input {
    width: 140px;
}

/* Main Menu Settings */
#main_menu {
    margin-top: 53px;
}

#main_menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: left;
}

#main_menu ul li {
    float: left;
}

#main_menu ul li.selected,
#main_menu ul li.ancestor {
    float: left;
    border-bottom: 1px solid #F3F1EE;
}

#main_menu ul li a.menu {
    margin: 0px 4px;
    padding: 4px 8px;
    display: block;
}

#main_menu ul li a.menu:hover {
    color: #3C3C3C;
    background: #F3F1EE;
}

#main_menu ul li a.menu.selected,
#main_menu ul li a.menu.ancestor {
    border-top: 1px solid #3C3C3C;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    color: #222;
    background: #F3F1EE;
}

/* block */
.block {
    margin-bottom: 10px;
    border-radius: 6px 6px;
    -webkit-border-radius: 6px 6px;
    -moz-border-radius: 6px 6px;
    -webkit-box-shadow: rgba(0,0,0,0.4) 0px 1px 3px;
    -moz-box-shadow:  rgba(0,0,0,0.4) 0px 1px 3px;
}
.block_title {
    background: #E8E8E8;
    border-bottom: 1px solid #D1D1D1;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    -moz-border-radius-topleft: 6px 6px;
    -moz-border-radius-topright: 6px 6px;
    -webkit-border-top-left-radius: 6px 6px;
    -webkit-border-top-right-radius: 6px 6px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 7px 10px;
}
.block_content {
    background: #F8F8F8;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    -moz-border-radius-bottomleft: 6px 6px;
    -moz-border-radius-bottomright: 6px 6px;
    padding-bottom: 10px;
    border-top:1px solid #FFF;
}
.block_content h3.content_title {
    padding: 10px;
}
.block_content .item_list a {
    padding: 5px;
    display: block;
}
.block_content .item_list a:hover{
    background: #CCC;
}
#panel {
    background-color: #E8E8E8;
    height: 32px;
    margin: 0px 0px 20px 0px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0px 1px 3px;
    -moz-box-shadow:  rgba(0,0,0,0.3) -3px 1px 3px;
}
/* box */
.block_plain {
    background-color: #F8F8F8;
    border: 0;
    border-radius: 6px 6px;
    -moz-border-radius: 6px 6px;
    -webkit-border-radius: 6px 6px;
    -webkit-box-shadow: rgba(0,0,0,0.4) 0px 1px 3px;
    -moz-box-shadow: rgba(0,0,0,0.4) 0px 1px 3px;
}
.cell,
.cell_head {
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #E2E2E2;
    font-size: 12px;
    line-height: 16px;
    padding: 10px;
}
.cell_head {
    border-top: 0px;
    font-weight: bold;
}
.cell_foot {
    border-top: 1px solid #FFF;
    padding: 5px 15px;
    background: #ECECEC;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    -moz-border-radius-bottomleft: 6px 6px;
    -moz-border-radius-bottomright: 6px 6px;
}
.cell table {
    margin-bottom: 4px;
    padding: 0px 10px;
}
.avatar {
    padding: 10px 0px;
    margin: 0px;
    width: 48px;
    vertical-align: top;
}
.avatar a img {
    border: 3px solid #E8E8E8;
}
.forum_title {
    margin: 3px 0px;
    padding: 3px 0px;
    font-size: 16px;
}
.forum_title a:hover {
    background: #CECECE;
    border-bottom: 2px solid #939393;
}
.fade {
    color: #999;
    font-size: 0.8em;
}
.fade a:hover {
    border-bottom: 1px solid #636363;
}
.info_block{
    position: relative;
}
.info_block .replies {
    font-size: 2em;
    padding: 0 5px;
}
.info_block .views {
    display: block;
    background: url(rating_bg.gif) no-repeat;
    position: absolute;
    top: 0; 
    left: 0;
    font-size: 2em;
    width: 25px;
    height: 30px;
    padding: 20px 0 0 25px;
}
.num {
    float: right;
    padding: 20px;
    vertical-align: baseline;
}

/* pagination */
.pagination {
    height:22px;
    line-height:21px;
    clear:both;
    padding-top:3px;
    font-weight:normal;
}
.pagination .page,
.pagination .next,
.pagination .prev {
    padding:7px;
    padding-top:2px;
    padding-bottom:2px;
    border:1px solid #DADADA;
    background-color:#F5F5F5;
    color:#5F7CAA;
    width:22px;
    font-weight:normal;
}
.pagination a:hover {
    background-color: #DDEEFF;
    border: 1px solid #BBDDFF;
    color: #5F7CAA;	
}
.pagination .current {
    border:1px solid #BBDDFF;
    background-color:#DDEEFF;
    color:#0072BC;
    cursor:default;
}
.pagination .disabled {
    border:1px solid #EBEBEB;
    background-color:#F5F5F5;
    color:#D7D7D7;
    cursor:default;
}

/* topic message */
.topic_message {
    padding: 10px 0px 0px 80px;
}
/* list items style */
.item {
    background: #E8E8E8;
    color: #222;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #CCC;
}

/* menu_tree */
#menu_tree,
#latest_article {
    border-top: 0px;
}
#menu_tree ul,
#latest_article ul {
    margin:0px;
    padding:0px;
    list-style-type:none;
}
#menu_tree li,
#latest_article li {
    background:#F8F8F8;
    height: 24px;
    line-height: 24px;
    position: relative;
}
#menu_tree ul li.title {
    background: #CCC;
    color: #333333;
}
#menu_tree ul li.ancestor,
#menu_tree ul li.selected {
    background: #E8E8E8;
    color: #222;
}
#menu_tree ul li a,
#latest_article ul li a {
    display: block;
    padding: 0px 10px;
}
#menu_tree ul li a:hover,
#latest_article ul li a:hover {
    background: #E8E8E8;
}
#menu_tree ul li ul.children {
    display: none;
    position: absolute;
    top: -2px;
    left: 230px;
    width: 200px;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
}
#menu_tree ul li ul.children li {
    display: block;
    float: none;
    padding: 0px;
    margin: 0px;
}
#top_menu .item {
    background: #333;
    border: 0px;
}
#top_menu li.help a:hover {
    background: #333;
    color: #FFF;
    text-decoration: none;
}

.inner {
    padding: 10px;
}
.trancate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 430px;
    height:32px;
    line-height:32px;
}
.trancate_small {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 210px;
    height:24px;
    line-height:24px;
}

.googlemap-map {
    height: 400px;
}
