/* ----------
 * Django-CMS Style
 * ----------
 * Theme: Pyrix
 * ----------
 * Author: Mark Renton <indexofire@gmail.com>
 * ------------------------------------------
 */

body {
    background: #D0DADF url(../img/main_bg.png) no-repeat 100% 0%;
    font-family:"Helvetica Neue", Arial, Helvetica, 雅黑, simsun, 宋体, sans-serif;
}

.shadow-box {
    background: #FEFEFE;
    border: 1px solid #9C9C9C;
    border-radius: 2px;
    box-shadow: 0px 0px 1px #AAABAC;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 1px #AAABAC;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0px 0px 1px #AAABAC;
    behavior: url(../css/PIE.htc);
}

/* the settings of article's readmore link's */
a {
    text-decoration: none;
}
a:link,
a:visited {
    color: #222;
}
a:hover {
    color: #222;
}

/* border-bottom: 3px solid #5D5D57; */

/* Header Background */
#header_bg {
    background: #606162;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    display: block;
    position: absolute;
    z-index: -1;
}


/* Login Menu */
#login {

}

#head_icon {
    height: 60px;
    display: block;
    background: #FFFFFF;
    margin: 0px 5px;
}

/* Breadcrumb Settings */
#breadcrumb {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#breadcrumb li {
    float: left;
    padding: 4px;
}

#breadcrumb li a{
    text-decoration: none;
    float: left;
    color: #E99D01;
}

#breadcrumb .menu span {
    color: #F5F5EE;
    text-shadow: black 1px 1px 0px;
    display: block;
    float: left;
    display: block;
}

/* Page Footer Settings */
#footer {
    background: #ABAAA1;
    height: 200px;
    display: block;
    padding-top: 30px;
}

#footer div.det {
    color: #797971;
    display: block;
}

/* page's top */
#top {
    border-bottom: 1px solid #FFF;
    background: #222;
    height: 40px;
    line-height: 40px;
    padding: 10px 20px;
    overflow: hidden;
    /*margin-bottom: 10px;*/
}

#top a {
    color: #FFF;
}

#top ul {
    height: 20px;
    line-height: 20px;
    padding: 10px 0px;
    margin: 0px;
    list-style: none;
    position: absolute;
    top: 10px;
    right: 20px;
}

#top ul li {
    float: left;
    font-size: 1.3em;
    font-weight: bold;
}

#top ul li a {
    display: block;
    margin: 0px 5px;
    padding: 4px 10px;
    border-bottom-left-radius: 8px 8px;
    border-bottom-right-radius: 8px 8px;
    border-top-left-radius: 8px 8px;
    border-top-right-radius: 8px 8px;
    behavior: url(../css/PIE.htc);
}

#top ul li a.selected,
#top ul li a.ancestor,
#top ul li a:hover {
    background-color: #FEFEFE;
    color: #222;
}

/* Main */
#main {
    margin: 0px;
    padding: 10px 20px;
}



/* Main Menu Settings */
#main_menu {
    margin-top: 53px;
}

#main_menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: left;
}

#main_menu ul li {
    float: left;
}

#main_menu ul li.selected,
#main_menu ul li.ancestor {
    float: left;
    border-bottom: 1px solid #F3F1EE;
}

#main_menu ul li a.menu {
    margin: 0px 4px;
    padding: 4px 8px;
    display: block;
}

#main_menu ul li a.menu:hover {
    color: #3C3C3C;
    background: #F3F1EE;
}

#main_menu ul li a.menu.selected,
#main_menu ul li a.menu.ancestor {
    border-top: 1px solid #3C3C3C;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    color: #222;
    background: #F3F1EE;
}

/* block */
.block {
    border: 0px;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    -webkit-box-shadow: #9CA5A5 0px 1px 4px;
    -moz-box-shadow:  #9CA5A5 0px 1px 4px;
    behavior: url(../css/PIE.htc);
}

.block_title {
    background: #E8E8E8;
    border-bottom: 1px solid #DDD;
    border-top-left-radius: 6px 6px;
    border-top-right-radius: 6px 6px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 0px;
    padding: 7px 10px;
    behavior: url(../css/PIE.htc);
}

.block_content {
    background: #F8F8F8;
    border: 0px;
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
    padding-bottom: 10px;
    behavior: url(../css/PIE.htc);
}


.block_content .item_list {
    background: #FFF;
    border-bottom: 1px solid #DDD;
    padding: 5px;
}

.three_left {
    width: 22.2%;
    margin-right: 10px;
    float: left;
}

.three_center {
    width: 48.2%;
    margin-right: 10px;
    float: left;
}

.three_right {
    width: 27.7%;
    margin-right: 0px;
    float: left;
}

.two_left {
    width: 29%;
    margin-right: 10px;
    float: left;
}

.two_right {
    width: 70%;
    margin-right: 0px;
    float: left;
}

.one_center {
    width: 100%;
    margin-right: 0px;
    float: left;
}

#panel {
    background-color: #E8E8E8;
    height: 32px;
    line-height: 24px;
    padding: 0px 20px;
    border-bottom: 1px solid #CACACA;
}

/* panel */
.flickr_photobar{
	font-family: Arial,Helvetica,sans-serif;
	text-transform: uppercase;
	font-size: 11px;
}
.flickr_photobar a{
	outline:none;
}
.flickr_photobar a:hover{
	outline:none;
}

.photobar{
	position:fixed;
	bottom:-96px;
	left:0px;
	width:100%;
	height:95px;
}
.thumbs{
	position:absolute;
	bottom:0px;
	left:0px;
	width:100%;
	height:95px;
	border-top:1px solid #222;
	background-color:#3D3D3D;
}

.thumbs a.prev,
.thumbs a.next{
	width:20px;
	height:83px;
	position:absolute;
	top:4px;
	margin:0px;
	z-index:10;
	border:1px solid #222;
	-moz-box-shadow:0px 0px 1px #777 inset;
	-webkit-box-shadow:0px 0px 1px #777 inset;
	box-shadow:0px 0px 1px #777 inset;
    behavior: url(PIE.htc);
}

.thumbs a.prev:hover,
.thumbs a.next:hover{
	background-color:#404040;
}
.thumbs a.prev{
	left:0px;
	background:#333 url(../img/prev.png) no-repeat center center;
}
.thumbs a.next{
	right:0px;
	background:#333 url(../img/next.png) no-repeat center center;
}

.thumbs .thumbsWrapper{
	height:95px;
	left:22px;
	right:22px;
	overflow:hidden;
	position:absolute;
	top:0;
}

.thumbs ul{
	list-style:none;
	margin:0px;
	padding:0px;
	height:90px;
	overflow:hidden;
	position:absolute;
	left:0px;
	top:0px;
}
.thumbs ul li a{
	position:relative;
	float:left;
	margin:6px 2px 0px 2px;
	color:#fff;
	text-shadow:1px 1px 1px #000;
	text-decoration:none;
	height:81px;
	width:81px;
}

.albums ul li a img{
	border:3px solid #111111;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
    behavior: url(PIE.htc);
}
.images ul li a img{
	border:3px solid #f9f9f9;
	-moz-box-shadow:1px 1px 3px #000;
	-webkit-box-shadow:1px 1px 3px #000;
	box-shadow:1px 1px 3px #000;
    behavior: url(PIE.htc);
}

.thumbs a span{
	position:absolute;
	bottom:3px;
	left:3px;
	right:3px;
	background-color:#333;
	font-size:9px;
	padding:2px 2px;
	border-top:1px solid #111;
    display:none;
	text-align:center;
	overflow:hidden;
	text-overflow:ellipsis;
	max-height:70px;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
    behavior: url(PIE.htc);
}

.thumbs a:hover span{
	display:block;
}

span.images_toggle{
	position:absolute;
	top:-26px;
	right:20px;
	background-color:#3D3D3D;
	border:1px solid #222;
	color:#EEEEEE;
	font-size:10px;
	padding:0px 6px 0px 12px;
	height:24px;
	line-height:24px;
	text-transform:uppercase;
	text-shadow:1px 1px 2px #000;
	-moz-box-shadow:0px -1px 3px #ccc;
	-webkit-box-shadow:0px -1px 3px #ccc;
	box-shadow:0px -1px 3px #ccc;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
    behavior: url(PIE.htc);
}
span.images_toggle a{
	background-color:#222;
	border:1px solid #000;
	cursor:pointer;
	line-height:16px;
	padding:0px 5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
    behavior: url(PIE.htc);
}
span.images_toggle a:hover{
	background-color:#000;
}
.photobar a.toggle{
	position:absolute;
	top:-26px;
	left:20px;
	background-color:#3D3D3D;
	border:1px solid #222;
	color:#EEEEEE;
	font-size:10px;
	padding:0px 36px 0px 36px;
	line-height:24px;
	height:24px;
	text-transform:uppercase;
	text-shadow:1px 1px 2px #000;
	-moz-box-shadow:0px -1px 3px #ccc;
	-webkit-box-shadow:0px -1px 3px #ccc;
	box-shadow:0px -1px 3px #ccc;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	cursor:pointer;
}
span.loading_small{
	background:transparent url(../img/loading_small.gif) no-repeat center center;
	position:absolute;
	right:10px;
	top:0px;
	width:16px;
	height:24px;
}
.photobar a.toggle:hover{
	background-color:#111;
}

.photobar .images{
	z-index:20;
}

.flickr_photobar .overlay{
	z-index:90;
	background-color:#000;
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	opacity:0.9;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=90);
}

.photopreview{
	text-align:center;
	position:fixed;
	width:100%;
	height:100%;
	top:0px;
	left:0px;
	z-index:91;
}

.photopreview .preview_wrapper{
	position:relative;
	text-align:center;
	margin:0 auto;
}
.photopreview .preview{
	display:table-cell;
	text-align:center;
	width:0px;
	height:0px;
	padding-top:25px;
	vertical-align:middle;
}
.photopreview .preview img{
	vertical-align:middle;
	background-color:#555;
	padding:1px;
	border:8px solid #f9f9f9;
	-moz-box-shadow:1px 1px 5px #222;
	-webkit-box-shadow:1px 1px 5px #222;
	box-shadow:1px 1px 5px #222;
}

.photopreview .preview span{
	background-color: #111111;
	color:#FFFFFF;
	height:20px;
	left:0;
	line-height:20px;
	position:fixed;
	text-align:center;
	text-shadow:1px 1px 1px #000000;
	top:0;
	width:100%;
	-moz-box-shadow:1px 1px 5px #000000;
	-webkit-box-shadow:1px 1px 5px #000000;
	box-shadow:1px 1px 5px #000000;
}

.loading{
	width:50px;
	height:50px;
	position:fixed;
	top:50%;
	left:50%;
	z-index:95;
	margin:-25px 0px 0px -25px;
	-moz-border-radius:10px;
	-webkit-border-radius:20px;
	border-radius:10px;
	background:#000 url(../img/loading.gif) no-repeat center center;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}
.close{
	background:#000 url(../img/close.png) no-repeat center center;
	cursor:pointer;
	height:20px;
	position:fixed;
	right:-11px;
	top:0;
	width:90px;
	z-index:1000;
	cursor:pointer;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	opacity:0.8;
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
}

.photopreview a.img_next,
.photopreview a.img_prev{
	position:fixed;
	top:50%;
	height:60px;
	width:50px;
	margin-top:-30px;
	background-color:#000;
	background-repeat:no-repeat;
	background-position:center center;
}
.photopreview a.img_next{
	background-image:url(../next.png);
	-moz-border-radius:20px 0px 0px 20px;
	-webkit-border-top-left-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	border-top-left-radius:20px;
	border-bottom-left-radius:20px;
	right:0px;
}
.photopreview a.img_prev{
	background-image:url(../prev.png);
	-moz-border-radius:0px 20px 20px 0px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	left:0px;
}
