<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load i18n cms_tags menu_tags %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{% block title %}{% endblock title %}</title>
{% block meta %}
{% endblock meta %}
  <link href="{{ MEDIA_URL }}css/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="{{ MEDIA_URL }}css/print.css" media="print" rel="stylesheet" type="text/css" />
  <link href="{{ MEDIA_URL }}css/site.css" rel="stylesheet" type="text/css" />
  <!--[if lt IE 8]><link rel="stylesheet" href="{{ MEDIA_URL }}css/ie.css" type="text/css" media="screen, projection"><![endif]-->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}js/panel.js" type="text/javascript"></script>
{% block extra_head %}
  <!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js"></script>-->
{% endblock extra_head %}
</head>

<body>
{% block panel %}{% include "menu/panel.html" %}{% endblock panel %}

<div id="top" class="clearfix">
  <div class="container">
    <h2 id="site_name"><a href="/" target="_self">HZCDC.Labs</a></h2>
    <ul id="top_menu">{% show_menu 0 0 0 0 %}</ul>
  </div>
</div>

<div id="panel" class="clearfix">
  <div class="container">
    <ul id="breadcrumb" class="span-20">
      {% block breadcrumb %}{% show_breadcrumb %}{% endblock breadcrumb %}
    </ul>
    <span class="span-4 last"></span>
  </div>
</div>

<div id="main" class="container clearfix">
{% block content %}{% endblock content %}
</div>

{% block message %}{% endblock message %}
</body>
</html>
