{% extends "base.html" %}
{% load i18n cms_tags %}

{% block title %}{% trans "main page" %}{% endblock title %}

{% block content %}
<div class="three_left">
  {% include "login_out_panel.html" %}
  {% block col_sidebar %}{% placeholder col_sidebar %}{% endblock %}
  {% include "sidebar_submenu.html" %}
</div>

<div class="three_center">
  <div class="block">
    <h3 class="block_title">Site</h3>
    <div class="block_content">
      <div style="padding: 10px;">
      {% block page_title %}<h1>{% page_attribute title %}</h1>{% endblock %}
      {% block col_left %}
        {% with "340" as width %}
          {% placeholder col_left %}
        {% endwith %}
      {% endblock %}
      </div>
    </div>
  </div>
</div>

<div class="three_right">
  <div class="block">
    <h3 class="block_title">Help</h3>
    <div class="block_content">
      {% block col_right %}
        {% with "220" as width %}
          {% placeholder col_right %}
        {% endwith %}
      {% endblock %}
    </div>
  </div>
  
  <div class="block">
    <h3 class="block_title">Our Goal</h3>
    <div class="block_content" >
      <div style="padding-top:10px;">
      <ol>
        <li>建立实验室数据资源中心</li>
        <li>提供分子生物学在线应用</li>
        <li>其他基于REST的网络服务</li>
      </ol>
      </div>
    </div>
  </div>
</div>

{% endblock %}
