{% extends 'cms_content/cms_content_base.html' %}
{% load i18n menu_tags content_tags %}

{% block extra_head %}{{ block.super }}{% endblock extra_head %}

{% block cms_content_menu %}{% show_menu 1 2 1 1 %}{% endblock cms_content_menu %}

{% block col_right %}
{% load pagination_tags %}
{% autopaginate articles per_page %}
<div class="block">
  <h3 class="block_title">{% trans "Category" %}: {{ category.name }}</h3>
  <div class="block_content inner">
  
  
    <table class="cms_article_table_list">
      <tr class="title">
    <th>{% trans "Article Title" %}</th>
    <th>{% trans "Author" %}</th>
    <th>{% trans "Published Date" %}</th>
    <th>{% trans "Read Number" %}</th>
  </tr>
  {% for article in articles %}
  <tr class="{% cycle 'row1' 'row2' %}">
    <td><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></td>
    <td><a href="/user/{{ article.created_by }}">{{ article.created_by }}</td>
    <td>{{ article.created_date|date:"Y.m.d" }}</td>
    <td>{{ article.hits }}</td>
  </tr>
  {% endfor %}
  </table>

  <div class="article_items">
  <div style="height: 40px"></div>
  {% for article in articles %}
  <div class="article_item">
    <div class="item-bg">
      <div class="article_date">
        <span class="date_day">20</span>
        <span class="date_month">Sep</span>
      </div>
      <h1 class="article_title"><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h1>
      <div class="article_intro">{{ article.content|code_highlight|truncatewords_html:50 }}</div>
      <p class="read_more"><a href="{{ article.get_absolute_url }}">{% trans "Read More" %}</a></p>
      <hr/>
    </div>
  </div>
  {% endfor %}
  <div style="margin:-20px 0px 20px 30px">{% paginate %}</div>
  </div>
  </div>
</div>
{% endblock col_right %}

{% block control %}
<a href="{% url cms_content_article_add %}">add article</a> | 
<a href="../../delete/">delete article</a>
{% endblock control %}
