{% extends "cmsplugin_gallery/base.html" %}
{% load thumbnail %}
{% block cmsplugin_gallery_js %}
<script type="text/javascript" src="{{ cmsplugin_gallery_media_url }}/galleria/galleria.js"></script>
<script>
    Galleria.loadTheme('{{ cmsplugin_gallery_media_url }}/galleria/themes/classic/galleria.classic.js');
    $(document).ready(function() {
        $('#cmsplugin_gallery_galleria_{{ gallery.id }}').galleria();
    });
</script>
{% endblock %}
{% block cmsplugin_gallery_css %}
{{ block.super }}
{% endblock %}
{% block cmsplugin_gallery_content %}
<div id="cmsplugin_gallery_galleria_{{ gallery.id }}" class="cmsplugin_gallery_galleria">
{% for photo in gallery.active_photos %}
    <img src="{{ photo.image.url }}" alt="{{ photo.description }}" title="{{ photo.title }}"{% if photo.link %} longdesc="{{ photo.link }}"{% endif %} />
{% endfor %}
</div>
{% endblock %}
