{% load thumbnail %}
{% block cmsplugin_gallery_js %}
{{ block.super }}
{% endblock %}
{% block cmsplugin_gallery_css %}
{{ block.super }}
{% endblock %}
{% block cmsplugin_gallery_header %}
{% if gallery.title and cmsplugin_gallery_show_gallery_title %}<h2>{{ gallery.title }}</h2>{% endif %}
{% if gallery.description and cmsplugin_gallery_show_gallery_description %}<p>{{ gallery.description }}</p>{% endif %}
{% endblock %}
{% block cmsplugin_gallery_content %}
<ul>
{% for photo in gallery.active_photos %}
    <li>
        <h3>{{ photo.title }}</h3>
        <a href="{{ photo.image.url }}" title="{{ photo.title }}"><img src="{% thumbnail photo.image 80x80 %}" alt="{{ photo.title }}" /></a>
        {% if photo.description %}<p>{{ photo.description }}</p>{% endif %}
    </li>
{% endfor %}
</ul>
{% endblock %}
