{% extends "site_base.html" %}
{% load i18n cms_tags menu_tags %}


{% block scripts %}
<!--<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>-->
{% endblock scripts %}


{% block topbar %}
<div class="topnav">
  {% if request.user.is_authenticated %}
  <span class="left">
    <a href="/accounts/logout/">{% trans "Logout" %}</a>
  </span>
  {% else %}
  <span class="left">
    <a href="/accounts/login/">{% trans "Login" %}</a> | 
    <a href="/accounts/register/">{% trans "Register" %}</a>
  </span>
  {% endif %}
  <span class="right">hello</span>
</div>
{% endblock %}


{% block head %}
<!-- head start -->
<div class="topmenu">
  <div class="left">
    <h1 style="margin:30px 0px"><a id="logo" href="/" target="_self"><b>HZCDC.Labs</b></a></h1>
  </div>
  <div class="right">
    <div id="main_menu">
      <ul>{% show_menu 0 0 %}</ul>
    </div>
  </div>
</div>
<!-- heard ends -->
{% endblock head %}


{% block body %}
<!-- main start -->
<div class="container shadow-box">
  <div class="span-24 last banner-box-1">
    <div><ul id="breadcrumb" style="padding:5px">{% show_breadcrumb %}</ul></div>
  </div>

  <div class="span-24 last">
      {% block content %}
      {% endblock content %}
  </div>
  
  <div class="span-24 last banner-box-2">
    <p>
    {% block panel %}
    {% endblock panel %}
    </p>
  </div>
</div>
<!-- main ends -->
{% endblock body %}


{% block foot %}
<div style="height:60px"></div>
<!-- foot start -->
<div id="footer">
  <div class="det">
  <div class="container">
    copyright <a href="mailto:indexofire@gmail.com">Mark Renton</a>
  </div>
  </div>
</div>
<!-- foot end -->
{% endblock foot %}
