{% extends "base_site.html" %}
{% load i18n cms_tags menu_tags %}

{% block scripts %}
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
{% endblock scripts %}

{% block topbar %}
  <div class="topnav">
    <span class="left"><a href="/accounts/login/">{% trans "Login" %}</a> | <a href="/accounts/register/">{% trans "Register" %}</a></span>
    <span class="right">hello</span>
  </div>
{% endblock %}

{% block head %}
<!-- head start -->
<div class="topmenu">
  <div class="left">
    <a id="logo" href="/" target="_self"></a>
  </div>
  <div class="right">
    <div id="main_menu">
      <ul>{% show_menu 0 0 0 0 %}</ul>
    </div>
  </div>
</div>
<!-- heard ends -->
{% endblock head %}

{% block body %}
<!-- main start -->
<div class="container shadow-box">
  <div class="span-24 last">
      <div class="box"><ul id="breadcrumb">{% show_breadcrumb %}</ul></div>
  </div>
</div>

<div style="height:20px"></div>

<div class="container shadow-box">
  <div class="span-24 last">
      {% block content %}{% endblock content %}
  </div>
  <div class="span-24 last" style="border-top: 1px dashed #ACACAC;">
    <p class="box" style="margin:0px">
      <a href="add/">add article</a> | 
      <a href="delete/">delete article</a>
    </p>
  </div>
</div>
<!-- main ends -->
{% endblock body %}

{% block foot %}

<div style="height:60px"></div>

<!-- foot start -->
<div id="footer">
  <div class="det">
  <div class="container">
    copyright <a href="mailto:indexofire@gmail.com">Mark Renton</a>
  </div>
  </div>
</div>
<!-- foot end -->
{% endblock foot %}
