{% extends "base_site.html" %}
{% load i18n cms_tags menu_tags %}

{% block head %}
<!-- head start -->
<div id="header">
  <div class="left">
    <a id="logo" href="/" target="_self"></a>
  </div>
  <div class="right">
    <div id="main_menu">
    {% spaceless %}
      <ul>
      {% show_menu 0 0 %}
      </ul>
    {% endspaceless %}
    </div>
  </div>
</div>
<!-- heard ends -->
{% endblock head %}

{% block body %}
<!-- main start -->
<div class="container shadow-box">
  <div class="span-24 last">
    <div id="breadcrumb" style="border-bottom: 1px dashed #ACACAC; height:28px; display: block;">
      <ul>{% show_breadcrumb %}</ul>
    </div>
    <div class="span-24 last" style="border-bottom: 1px dashed #ACACAC; display: block;">
      {% block content %}{% endblock content %}
    </div>
  </div>
  <div class="span-24 last" style="height:28px">
    <p>show something</p>
  </div>
</div>
<!-- main ends -->
{% endblock body %}

{% block foot %}

<div style="height:60px"></div>

<!-- foot start -->
<div id="footer">
  <div class="det">
  <div class="container">
    copyright <a href="mailto:indexofire@gmail.com">Mark Renton</a>
  </div>
  </div>
</div>
<!-- foot end -->
{% endblock foot %}
