{% extends "base.html" %}
{% load i18n cms_tags %}

{% block tpl_id %}
  tpl_col_two
{% endblock tpl_id %}

{% block content %}
<div id="col2" class="span-20">
  <div style="padding:20px;">
  {% block page_title %}<h2>{% page_attribute title %}</h2>{% endblock %}
  {% block col_left %}
    {% placeholder col_left %}
  {% endblock col_left %}
  </div>
</div>
  
<div id="col1" class="span-4 last">
  <div style="padding:2px">
    {% include "sidebar_submenu.html" %}
  </div>
  <div  style="padding:2px">
    {% block col_sidebar %}
      {% placeholder col_sidebar %}
    {% endblock %}
  </div>
</div>
{% endblock content %}
