/* ----------
 * Page Style
 * ----------
 * Global CSS
 * ----------
 * Author: Mark Renton <indexofire@gmail.com>
 * ------------------------------------------
 */

body {
    background: #EFEFEF;
}

.shadow-box {
    background: #FEFEFE;
    border: 1px solid #9C9C9C;
    border-radius: 2px;
    box-shadow: 0px 0px 1px #AAABAC;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 0px 1px #AAABAC;
    -moz-border-radius: 2px;
    -moz-box-shadow: 0px 0px 1px #AAABAC;
    /* behavior: url(/media/global/css/ie-css3.htc); */
}

.left {
    float: left;
}

.right {
    float: right;
}

#header {
    height: 60px;
    line-height: 60px;
    margin: 10px auto 5px;
    padding: 5px 0px;
    width: 950px;
}

#logo {
    /* background: url("../img/logo.png") no-repeat; */
    cursor: pointer;
    float: left;
    height: 60px;
    width: 200px;
    text-shadow: 1px 1px 1px black;
}

/* the settings of article's readmore link's */
a {
    text-decoration: none;
}
a:link,
a:visited {
    color: #222;
}
a:hover {
    color: #222;
}

/* border-bottom: 3px solid #5D5D57; */

/* Header Background */
#header_bg {
    background: #606162;
    height: 60px;
    width: 100%;
    border-bottom: 1px solid black;
    display: block;
    position: absolute;
    z-index: -1;
}


/* Login Menu */
#login {

}

#head_icon {
    height: 60px;
    display: block;
    background: #FFFFFF;
    margin: 0px 5px;
}

/* Breadcrumb Settings */
ul#breadcrumb {
    float: left;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul#breadcrumb li {
    float: left;

    padding: 4px;
}

ul#breadcrumb li a{
    text-decoration: none;
    float: left;
    color: #E99D01;
}

#breadcrumb .menu span {
    color: #F5F5EE;
    text-shadow: black 1px 1px 0px;
    display: block;
    float: left;
    display: block;
}

/* Page Footer Settings */
#footer {
    background: #ABAAA1;
    height: 200px;
    display: block;
    padding-top: 30px;
}

#footer div.det {
    color: #797971;
    display: block;
}

/* top bar of every pages */
#top {
    border-bottom: #FFFFFF;
    background: #6A7B8C;
    margin-bottom: 15px;
}

#top .topbar {
    margin: 0px;
    padding: 0px;
    background: #EFEFEF;
    height: 26px;
    line-height: 25px;
}

#top .topnav {
    margin: 0px auto;
    width: 950px;
}

#top .topnav a:hover {
    color: #54AFDC;
    text-decoration: underline;
}

#top .topmain {
    border-bottom: 1px solid #FFF;
    border-top: 1px solid #FFF;
    box-shadow: inset 0px 0px 3px #0F0F0F;
    -webkit-box-shadow: inset 0px 0px 3px #0F0F0F;
    -moz-box-shadow: inset 0px 0px 3px 0F0F0F;
}

#top .topmenu {
    margin: 0px auto;
    padding: 0px;
    width: 950px;
    height: 80px;
    color: #ECECEC;
}

#top .topmenu a {
    color: #FEFEFE;
}

/* Main Menu Settings */
#main_menu {
    margin-top: 53px;
}

#main_menu ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    float: left;
}

#main_menu ul li {
    float: left;
}

#main_menu ul li.selected,
#main_menu ul li.ancestor {
    float: left;
    border-bottom: 1px solid #EFEFEF;
}

#main_menu ul li a.menu {
    margin: 0px 4px;
    padding: 4px 8px;
    display: block;
}

#main_menu ul li a.menu:hover {
    color: #3C3C3C;
    background: #FFFFFF;
}

#main_menu ul li a.menu.selected,
#main_menu ul li a.menu.ancestor {
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    color: #222;
    background: #EFEFEF;
}

#menu_tree ul {
    list-style-type: none;
}

#menu_tree ul li {
    float: left;
}
